/***  Navigation bar ***/
.navbar {
    padding-top: 1em;
    padding-bottom: 1em;
}
.navbar form {
    color: white;
    padding-top: 6px;
    text-align: right;
}

/***  Center ***/
.text-left {
    width: 50%;
    float: left;
    text-align: center;
}
.text-left .app-links img {
    width: 171px;
    height: 51px;
}

.text-left .app-links {
    margin-top: 2em;
}
.text-left .screen img {
    width: 70%;
    margin-top: 2em;
}
.text-right {
    width: 50%;
    float: left;
    text-align: center;
}

svg {
    vertical-align: middle;
}

@media (max-width: 767px){
    .screen {
        display: none;
    }
    .text-left, .text-right {
        width: 100%;
    }
    #_submit {
        width: 100%;
    }
    #remember_me {
        width: 6%;
        float: left;
    }
    .group-remember {
        text-align: left;
    }
    .group-remember label {
        margin-top: 0.8em;
    }
    .text-center {
        margin-top: -2em;
    }
}

/*flash message*/
.flash-error:before{
    content: "✖ ";
    font-weight: bold;
}
.flash-error{
    background: #F79992;
    border: 5px solid #CE6F6F;
    color: #702B35;
    padding: 10px 10px 10px 20px;
    font-size: 14px;
    margin-top: 1em;
}
.flash-notice:before {
    content: "√ ";
    font-weight: bold;
}
.flash-notice {
    background: #CDE6AC;
    border: 5px solid #92BD58;
    color: #576A4D;
    padding: 10px 10px 10px 20px;
    font-size: 14px;
    margin-top: 1em;
}
