body {
    padding-top: 50px;
}

.lead .img {
    text-decoration: none;
    color: black;
    cursor: pointer; 
}

#form-button {
    margin-top: 1em;
}

table {
    text-align: left;
}

.edit-button, .delete-button, .save-button {
    width: 100%;
}

/* Formulaire style */

form {
    margin-top: 20px;
}

form div label {
    float: left;
    margin: 0 30px 0 0;
    min-width: 160px;
    text-align: right;
}

form div input[type=text],  form div input[type=number]{
    display: block;
    width: 225px;
}

.selectfield {
    text-align: left;
    display: block;
    width: 225px;
}

.dateSelectfield, .timeSelectfield, form div input[type=checkbox] {
    text-align: left;
    display: block;
}

/*flash message*/
.flash-error:before{
    content: "✖ ";
    font-weight: bold;
}
.flash-error{
    background: #F79992;
    border: 5px solid #CE6F6F;
    color: #702B35;
    padding: 10px 10px 10px 20px;
    font-size: 14px;
    margin-top: 1em;
}
.flash-notice:before {
    content: "√ ";
    font-weight: bold;
}
.flash-notice {
    background: #CDE6AC;
    border: 5px solid #92BD58;
    color: #576A4D;
    padding: 10px 10px 10px 20px;
    font-size: 14px;
    margin-top: 1em;
}

/******* flight ********************/
#moreFlights {
    text-align: left
}

/******* Filter ********************/
fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    min-width: -webkit-min-content;
    border: 2px groove threedface;
}
#filter {
    border-radius: 5px;
    margin-bottom: 1em;
}
#filter legend {
    width: auto;
    text-align: left;
    border: 0;
    cursor: pointer;
}
#filter form {
    display: none;
}
#toAck {
    display: none;
}
.filter-date-range {
    text-align: left;
}
#filter input[type=submit] {
    float: left;
    margin-left: 0.5em;
}
#filter button[type=reset] {
    float: left;
    margin-left: 13.7em;
}


/******* autocomplete style ********/
.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    cursor: default;

    .ui-menu-item > a.ui-corner-all {
        display: block;
        padding: 3px 15px;
        clear: both;
        font-weight: normal;
        line-height: 18px;
        color: #555555;
        white-space: nowrap;

        &.ui-state-hover, &.ui-state-active {
            color: #ffffff;
            text-decoration: none;
            background-color: #0088cc;
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            background-image: none;
        }
    }
}
.ui-autocomplete .ui-menu-item:nth-child(even) {
    background-color: #eee;
}
.ui-autocomplete .ui-menu-item:hover {
    background-color: #428bca;
    color: white;
}
.ui-helper-hidden-accessible{
    display: none;
}

@media (max-width: 767px){
    .navbar-collapse .navbar-nav.pull-right {
        float: none!important;
        margin-left: 0;
    }

    .navbar-nav {
        margin: 7.5px 0px;
    }

    form div input[type=text],  form div input[type=number]{
        display: inherit;
        width: 100%;
    }

    .selectfield {
        text-align: left;
        display: inherit;
        width: 100%;
    }
    form div label {
        min-width: inherit;
    }
    #gliderArck {
        margin-left: 0em;
    }
    #filter button[type=reset] {
        margin-left: 0em; 
    }
}