<!doctype html>
<html lang="fr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
	<link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />
    <title>Flightbook help page</title>
</head>

<style>
  body { text-align: center; padding: 80px; }
  h1 { font-size: 40px; height: 25px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 700px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<img src='/images/flightbook-icon.png' />
<article>
    <h1>Have you a problem?</h1>
	<p>If you have problems, questions or suggestions please send me an e-mail at <a href="mailto:yannick.lagger@flightbook.ch">yannick.lagger@flightbook.ch</a>.</p>
	<h1>Haben Sie ein Problem?</h1>
	<p>Wenn Sie Probleme, Fragen oder Verbesserungsvorschläge haben, senden Sie mir ein E-Mail an <a href="mailto:yannick.lagger@flightbook.ch">yannick.lagger@flightbook.ch</a>.</p>
	<h1>Avez-vous un problème?</h1>
	<p>Si vous avez des problèmes, des questions ou des suggestions n’hésitez pas à me contacter à l’adresse mail suivante: <a href="mailto:yannick.lagger@flightbook.ch">yannick.lagger@flightbook.ch</a>.</p>
    <div>
        <p>&mdash; Yannick Lagger</p>
    </div>
</article>