{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
		<div id="sidebar">
			<ul>
				<li><a href="/">News</a></li>
				<li><a href="/flight">Flights</a></li>
				<li><a href="/glider">Gliders</a></li>
				<li><a href="/place">Places</a></li>
			</ul>
		</div>
		<div id="content">

        </div>
    </div>
{% endblock %}
