{% extends 'base.html.twig' %}

{% block body %}
    <h1>Place</h1>

    <p><a class="edit-button btn btn-primary btn-lg" href="{{ path('place_edit', { 'id': place.id }) }}">Edit</a></p>

    <div class="lead place">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ place.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    {{ form_start(delete_form) }}
    <input class="delete-button btn btn-danger btn-lg" type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
