# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    env(DATABASE_HOST): 127.0.0.1
    env(DATABASE_PORT): 
    env(DATABASE_NAME): flight
    env(DATABASE_USER): 
    env(DATABASE_PASSWORD): 
    env(MAILER_TRANSPORT): smtp
    env(MAILER_HOST): smtp.zoho.com
    env(MAILER_USER): 
    env(MAILER_PASSWORD): 
    env(MAILER_ENCRYPTION): ssl
    env(MAILER_PORT): 465
    env(MAILER_AUTHMODE): login
    env(SECRET): secret
