{% extends 'base.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <h1>Glider edit</h1>

    <a class="save-button btn btn-primary btn-lg" href="{{ path('glider_show', { 'id': glider.id }) }}">Back to details</a>
    
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="save-button btn btn-success btn-lg" type="submit" value="Save" />
    {{ form_end(edit_form) }}
{% endblock %}
