{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <h1>Glider creation</h1>
    
    <a class="save-button btn btn-primary btn-lg" href="{{ path('glider_index') }}">Back to the list</a>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="save-button btn btn-success btn-lg" type="submit" value="Save" />
    {{ form_end(form) }}
{% endblock %}
